	/*public*/
	
	table tr td {
		border: 0px solid transparent !important;
	}
	
	* {
		text-decoration: none;
		list-style: none;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	.hide {
		display: none;
	}
	
	ul,
	li {
		margin: 0px;
		padding: 0px;
	}
	
	li {
		list-style: none
	}
	
	.about-menu {
		width: 300px;
	}
	
	.about-menu p img{
		width: 200px;
		height: 200px;
		margin: 10px 50px;
	}
	.about-introduce{
		text-indent: 2em;
		margin: 0 10px;
	}
	
	.pay-menu {
		width: 334px;
	}
	
	.pay_img {
		width: 150px;
		height: 150px;
		display: block;
	}
	
	.pay>p {
		margin-top: 10px;
		text-align: center;
	}
	
	.pay {
		float: left;
		display: block;
		height: 200px;
		width: 150px;
		margin: 10px 10px 10px 5px;
	}
	
	.pay-menu>.pay:first-child {
		margin: 10px 5px 10px 10px;
	}
	/*顶部*/
	
	.top {
		width: 100%;
		height: 180px;
		background-color: #FBFBF9;
		padding-top: 50px;
	}
	
	.search {
		position: relative;
		top: 40%;
		transform: translateY(-40%);
	}
	
	.text-list {
		padding-top: 10px;
		padding-left: 10px;
	}
	/*搜索关键词*/
	
	.search_keyword {
		margin-top: 40px;
	}
	
	.search_keyword p a {
		color: #777;
	}
	
	.img-style {
		height: 200px;
	}
	
	.navbar-inverse .navbar-nav>li>a {
		color: #fff;
	}
	
	footer {
		text-align: center;
		padding: 40px 0;
		background-color: #FBFBF9;
	}
	
	.glyphicon-download{
		color: #41ad42;
	}
	.glyphicon-upload{
		color: #f23f40;
	}
	/*针对通常小屏幕*/
	
	@media (max-width: 768px) {
		.content-media {
			width: 320px;
		}
		.img-media {
			width: 330px;
		}
	}
	/*针对平板，768以上的*/
	
	@media (min-width: 768px) and (max-width:1024px) {
		.content-media {
			width: 700px;
		}
		.img-media {
			width: 715px;
		}
	}
	/*Nexus6P*/
	
	@media (min-width: 435px) and (max-width:768px) {
		.content-media {
			width: 390px;
		}
		.img-media {
			width: 400px;
		}
	}
	/*针对苹果5*/
	
	@media (max-width: 320px) {
		.content-media {
			width: 280px;
		}
		.img-media {
			width: 290px;
		}
	}